.posts__list {
  margin-top: 3.5rem;
  padding: 0 13.35rem 11.5rem;
}
.posts {
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
.img-container {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .posts__type {
    position: absolute;
    left: 0;
    bottom: -0.73rem;
    padding: 0.4rem 1.5rem;
    background-color: $color-quaternary-2;
    color: $color-white;
  }
  .triangle {
    position: absolute;
    left: 64px;
    bottom: -0.05rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.6rem 0 0 1.2rem;
    border-color: transparent transparent transparent #0363c9;
  }
}
.post__heading {
  margin-top: 1.33rem;
  padding: 0 1.5rem;
}
