.slider {
  padding-top: 7.5rem;
}
.slider__top {
  text-align: center;

  .slider__title--bold {
    font-weight: $font-bold;
  }
  .slider__desc {
    margin-top: 2.2rem;
    font-size: 1.6rem;
  }
}
.slider-wrap {
  margin-top: 3.6rem;
  .slider__left {
    background-color: $color-quaternary-5;
    border-radius: 0 4rem 4rem 0;
  }
  .slider__right {
    padding-left: 10rem;
    align-self: center;
  }
}
.slider__reviews {
  margin: 1.8rem 0 2.4rem;
}
.slider__circle {
  @include circle(9.2rem, 50%);
  background-color: $color-tertiary-4;
  position: relative;
  img {
    position: absolute;
    left: 3rem;
  }
}
.slider__img {
  width: 100%;
  height: auto;
  margin: 9rem 0 9rem 8.5rem;
  @include media("<sm") {
    margin: 9rem 0 9rem 0;
  }
}
.slider__customer {
  display: inline-block;
  h6 {
    margin-left: 0.2rem;
  }
}
.slider__dots {
  margin-top: 5.6rem;
  img {
    margin-right: 1rem;
  }
}

@media (min-width: 1140px) {
  .slider__top {
    padding: 0px 38rem;
  }
}
